


<div class="">

    <div class="alert alert-info">welcome Back {{model.user.username}}</div>

    <div class="btn btn-block btn-danger" ng-click="model.logoutUser()">Logout</div>

    <div class="container-fluid ">
        <div class="col-xs-6">
            <div class="btn btn-primary" ng-click="model.getAllUsers()">List Users</div>
        </div>
            <div class="col-xs-6">
                <a href="#/admin/add" class="btn btn-success" >Create User</a>
            </div>
        </div>


    <div ng-show="model.flagUsers" ng-repeat="user in model.allUsers">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Username :  {{user.username}}</h4>
                <h4>Role     :  {{user.role}}</h4>
                <div align="right">
                    <div role="button" class="btn btn-danger" ng-click="model.deleteUser(user._id)">Delete</div>
                    <a href="#/admin/update/{{user._id}}" role="button" class="btn btn-info">Update</a>
                </div>
            </li>
        </ul>
    </div>

    <div ng-show="model.flagPostings">
        {{model.allPostings}}
    </div>

</div>