<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.device, initial-scale=1">
    <title>Website Edit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </link>
</head>
<body>
<!-- Header -->
<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid my-container-header col-lg-4 hidden-xs hidden-sm hidden-md">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <p class="navbar-text pull-left">
                    <a href="website-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                    </a>
                </p>

                <a class="navbar-brand m" href="#">Websites</a>

                <p class="navbar-text pull-right">
                    <a href="website-new.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right my-header-padding">
          </span>
                    </a>
                </p>
                <!-- Collect the nav links, forms, and other content for toggling -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

        <!-- Header 2 -->
        <div class="container-fluid my-container-header col-xs-12 col-lg-8">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- Changes trial -->
                <p class="navbar-text pull-left hidden-lg">
                    <a href="website-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                    </a>
                </p>
                <!-- end -->
                <a class="navbar-brand m my-header-padding1" href="#">Edit Website</a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website" ng-click="model.updateevent()" class="navbar-link">
          <span class="glyphicon glyphicon-ok pull-right">
          </span>
                    </a>
                </p>


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->


            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->


    </nav>

</div>




<div class="row">
    <div class="col-lg-4 hidden-xs hidden-sm hidden-md">

        <div class="container-fluid my-header">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="websites in model.allWebsites"><a href="website-list.html"> {{websites.name}} </a>
                    <a href="website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right">

            </span></a>

            </ul>

        </div>
    </div>

    <div class="col-xs-12 col-lg-8">


        <div class="container-fluid my-header">
            <form>
                <label for="name">Website Name</label>
                <input type="text"
                       name="name"
                       id="name"
                       placeholder="Website Name"
                       ng-model="model.website.name"
                       value="Blogger"
                       class="form-control"/>

                <label for="description">Website Description</label>
                <textarea name="description"
                          id="description"
                          placeholder="Website Description"
                          ng-model="model.website.description"
                          class="form-control"
                          rows="4">Blogger is a blog publishing service</textarea>

                <a ng-click="model.deleteevent()" class="btn btn-block btn-danger" role="button">Delete</a>

            </form>

        </div>
    </div>


</div>

<!-- Footer -->

<nav class="navbar navbar-default navbar-fixed-bottom my-header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-right">
                <a href="user/views/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
</body>
</html>