.my-header{
    margin-top: 60px;
}


.blue-div{
    background-color: #2DAAE4;
}

body{
    background: url("../images/background1.jpg");
}
.container{
    background-color: #eeeeee;

}

.dropdown:hover .dropdown-menu{
        display: block !important;
}

a{
    cursor: pointer;
}