.my-header{
    margin-top: 40px;
    margin-bottom: 60px;
}


.blue-div{
    background-color: #2DAAE4;
}

body{
    background: url("../images/background1.jpg");
}
.container{
    background-color: #eeeeee;

}

.dropdown:hover .dropdown-menu{
        display: block !important;
}

a{
    cursor: pointer;
}

.form-control, .btn-block{
    margin-bottom: 10px;
}

.btn.my-but .a{
    padding: 8px;
}
.list-group-item{
    margin-bottom: 8px;
    border-radius: 5px;
}
.inner-title{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
}
.list-group-item .row.slab {
    margin-bottom:15px;
}
.application-status{
    padding: 5px 10px;
}
.Pending{
    background-color: yellow;
}
.Accepted{
    background-color: green;
}
.Rejected{
    background-color: red;
}
.applicant{

}
.header{
    opacity: 0.8;
}

