
<div class="container-fluid my-header">

<div ng-show="model.errorMessage"  class="alert alert-danger">
    {{model.errorMessage}}
</div>

    <h1>Register</h1>

    <div class="form-group my-header">
        <input class="form-control"
                type="text"
               name="username"
               id="username"
               ng-model = "username"
               placeholder="Username"/>

        <input class="form-control"
                type="password"
               name="password"
               id="passsword"
               ng-model="password"
               placeholder="Password"/>

        <input class="form-control"
                type="password"
               name="verifypassword"
               id="verifypasssword"
               ng-model="password2"
               placeholder="Verify Password"/>

        <a class="btn btn-block btn-primary"
           ng-click="model.register(username,password,password2)"
           role="button">Register</a>


        <a class="btn btn-block btn-danger"
           href="#/login"
           role="button">Cancel</a>


    </div>
</div>

