<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.device, initial-scale=1">
    <title>New Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </link>

</head>
<body>
<!--Header -->
<nav class="navbar navbar-default navbar-fixed-top greybar">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   ng-click="model.addevent(page)"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col-lg-4 hidden-xs hidden-sm hidden-md">

        <div class="container-fluid my-header">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="pages in model.pages"><a href="website-list.html"> {{pages.name}} </a>
                    <a href="website-edit.html">
            <span class="glyphicon glyphicon-cog pull-right">

            </span></a>

            </ul>

        </div>
    </div>

    <div class="col-xs-12 col-lg-8">

<div class="container-fluid my-header">
    <form>
        <label for="name">Name</label>
        <input type="text" class="form-control"
               ng-model="page.name"
            name="name" id="name" placeholder="Page Name"/>

        <label for="title">Title</label>
        <input type="text" class="form-control"
               ng-model="page.description"
               name="title" id="title" placeholder="Page Title"/>
    </form>
</div>
    </div>
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom greybar my-header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-right">
                <a href="user/views/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>




</body>
</html>