
<!-- Header -->
<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid my-container-header col-lg-4 hidden-xs hidden-sm hidden-md">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                    </a>
                </p>

                <a class="navbar-brand m" href="">Pages</a>

                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right my-header-padding">
          </span>
                    </a>
                </p>
                <!-- Collect the nav links, forms, and other content for toggling -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

        <!-- Header 2 -->
        <div class="container-fluid my-container-header col-xs-12 col-lg-8">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- Changes trial -->
                <p class="navbar-text pull-left hidden-lg">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                    </a>
                </p>
                <!-- end -->
                <a class="navbar-brand m my-header-padding1" href="">New Page</a>
                <p class="navbar-text pull-right">
                    <a  href=""
                        ng-click="model.addevent(page)" class="navbar-link">
          <span class="glyphicon glyphicon-ok pull-right">
          </span>
                    </a>
                </p>


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->


            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->


    </nav>

</div>




<div class="row">
    <div class="col-lg-4 hidden-xs hidden-sm hidden-md">

        <div class="container-fluid my-header">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="pages in model.pages"><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"> {{pages.name}} </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{pages._id}}">
            <span class="glyphicon glyphicon-cog pull-right">

            </span></a>

            </ul>

        </div>
    </div>

    <div class="col-xs-12 col-lg-8">

<div class="container-fluid my-header">
    <form>
        <label for="name">Name</label>
        <input type="text" class="form-control"
               ng-model="page.name"
            name="name" id="name" placeholder="Page Name"/>

        <label for="title">Title</label>
        <input type="text" class="form-control"
               ng-model="page.description"
               name="title" id="title" placeholder="Page Title"/>
    </form>
</div>
    </div>
</div>



<!-- Footer -->
<ng-include src="'user/views/footer.view.client.html'"></ng-include>