<div class="home-page">
    <div class="jumbotron">
        <h1>Welcome to Job Search</h1>
        <p>This portal is for students to find their dream job</p>
        <p><a class="btn btn-primary btn-lg" href="#/search" role="button">Search Jobs</a></p>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">


            <div align="center">
                <a>
                    Back
                </a>
            </div>

        </div>
    </div>
</nav>

