<div align="center"><h1>Login</h1></div>
<div class="">


    <div class="alert alert-danger" ng-show="model.errorMessage">
        {{model.errorMessage}}
    </div>


    <label for="username">Username</label>
    <input  class = "form-control"
            type="text"
            name="username"
            ng-model="user.username"
            placeholder="Username"
            id="username"/>
    <label for="password">Password</label>
    <input  class = "form-control"
            type="password"
            name="password"
            ng-model="user.password"
            placeholder="Password"
            id="password"/>


    <a class="btn btn-block btn-primary"
       role="button"
       ng-click="model.login(user)">Login</a>

    <a class="btn btn-block btn-success"
      href="#/register"
       role="button">Register</a>

    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">


            <div align="center">
                <a href="#/">
                    Back
                </a>
            </div>

        </div>
    </div>
</nav>
