

<div class="">

    <div class="alert alert-info"> Welcome Back {{model.user.username}} </div>





    <a role="button" href="#/recruiter/posting/search" class="btn btn-warning"> Search Jobs</a>


    <br>
    <a role ='button' class="btn btn-info" ng-click="model.getPosting()">Get Your Postings</a>

    <br>
    <label for="Username">Username</label>
    <input class="form-control"
           type="text"
           name="Username"
           ng-model="model.user.username"
           id="Username"
           placeholder="Username"/>

    <label for="email">Email</label>
    <input class="form-control"
           type="email"
           name="email"
           ng-model="model.user.email"
           id="email"
           placeholder="abc@xyz.com"/>

    <label for="firstname">First Name</label>
    <input class="form-control"
           type="text"
           name="firstname"
           ng-model="model.user.firstName"
           id="firstname"
           placeholder="Bob"/>

    <label for="lastname">Last Name</label>
    <input class="form-control"
           type="text"
           name="lastname"
           ng-model="model.user.lastName"
           id="lastname"
           placeholder="Martin"/>





    <div class="btn btn-block btn-info" ng-click="model.updateUser()">Update Profile</div>

    <div class="btn btn-block btn-danger" ng-click="model.deleteUser()">Unregister</div>

    <div class="btn btn-block btn-warning" ng-click="model.logoutUser()">Logout</div>


</div>