<div>

    <h1>
       Resume
    </h1>

    <div class="row">
        <div class="col-xs-6">
            <label for="firstname">First Name:</label>
            <br>
            <input type="text" placeholder="FirstName" role id="firstname" name="firstname" class="form-control" ng-model="model.user.firstname" readonly>
        </div>

        <div class="col-xs-6">
            <label for="lastname">Last Name:</label>
            <br>
            <input type="text" placeholder="LastName" role id="lastname" name="firstname" class="form-control" ng-model="model.user.lastname" readonly>
        </div>

    </div>


    <div>
        <label for="summary"> Summary</label>
        <textarea placeholder="Short Summary about Yourself" id="summary" rows="3" class="form-control" ng-model="model.user.summary" readonly></textarea>
    </div>
    <!-- Location Zip -->
    <div class="row">
        <div class="col-xs-6">
            <label for="country">Country</label>
            <br>
            <input type="text" placeholder="Country" role id="country" name="country" class="form-control" ng-model="model.user.country" readonly>
        </div>

        <div class="col-xs-6">
            <label for="zip">ZIP</label>
            <br>
            <input type="text" placeholder="Zip code" role id="zip" name="zip" class="form-control" ng-model="model.user.zip" readonly>
        </div>

    </div>

    <!-- Work Exp -->

    <div>
        <h4> Work Experiene #1 </h4>

        <!--Company Position -->
        <div class="row">
            <div class="col-xs-6">
                <label for="company1">Company</label>
                <br>
                <input type="text" placeholder="Company Name" role id="company1" name="country" class="form-control" ng-model="model.user.workexp[0].company" readonly>
            </div>

            <div class="col-xs-6">
                <label for="position1">Position</label>
                <br>
                <input type="text" placeholder="Position" role id="position1" name="zip" class="form-control" ng-model="model.user.workexp[0].position" readonly>
            </div>

        </div>

        <div>
            <label for="description1">Description: </label>

            <textarea class="form-control" placeholder="Job Description" id="description1" name="description1" rows="4" ng-model="model.user.workexp[0].description" readonly>

       </textarea>
        </div>


    </div>


    <!-- Work Exp # 2 -->
    <div>
        <h4> Work Experiene #2 </h4>

        <!--Company Position -->
        <div class="row">
            <div class="col-xs-6">
                <label for="company2">Company</label>
                <br>
                <input type="text" placeholder="Company Name" role id="company2" name="country" class="form-control" ng-model="model.user.workexp[1].company" readonly>
            </div>

            <div class="col-xs-6">
                <label for="position2">Position</label>
                <br>
                <input type="text" role placeholder="Position" id="position2" name="zip" class="form-control" ng-model="model.user.workexp[1].position" readonly>
            </div>

        </div>

        <div>
            <label for="description2">Description: </label>

            <textarea class="form-control" placeholder="Job Description" id="description2" name="description1" rows="4" ng-model="model.user.workexp[1].description" readonly>

       </textarea>
        </div>


    </div>

    <br>
    <h4> Project #1 </h4>

    <label for="project1">Name</label>
    <br>
    <input type="text" role id="project1" name="country" placeholder="Project Name" class="form-control" ng-model="model.user.project[0].name" readonly>
    <label for="pdescription2">Description: </label>

    <textarea class="form-control" id="pdescription2" name="description1" placeholder="Project Description" rows="4" ng-model="model.user.project[0].description" readonly></textarea>

    <br>
    <h4> Project #2</h4>

    <label for="project2">Name</label>
    <br>
    <input type="text" role id="project2" placeholder="Project Name" name="country" class="form-control" ng-model="model.user.project[1].name" readonly>
    <label for="pdescription1">Description: </label>

    <textarea class="form-control"  placeholder="Project Description" id="pdescription1" name="description1" rows="4" ng-model="model.user.project[1].description" readonly></textarea>


    <br>
    <h4>Skills</h4>
    <textarea placeholder="Enter all the skills you know" class="form-control" id="skill1" name="description1" rows="4" ng-model="model.user.skills" readonly>
            </textarea>


    <!--<a href="" class="btn btn-success btn-block"  role="button" ng-click="model.click()">Update Profile</a>-->


</div>


<nav class="navbar navbar-default navbar-fixed-bottom header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">


            <div align="center">
                <a href="#/recruiter">
                    Back
                </a>
            </div>

        </div>
    </div>
</nav>

