<div>
    <h1>Your Job Applications</h1>
    <ul ng-repeat="app in model.applications" class="list-group">
       <li class="list-group-item">
           <!--{{app}}-->
           <h3>Job Title :  </h3> {{app.jobTitle}}
           <h3>Company :  </h3> {{app.company}}
           <h3>Location :</h3>  {{app.location}}
           <h3>Date :</h3>       {{app.date}}
           <h3>Job Type :</h3>  {{app.jobType}}


           <div ng-show="app.status == 'Accepted'">
               <h3> Status </h3>
               <div class="btn btn-success"> Accepted</div>
           </div>

           <div ng-show="app.status == 'Pending'">
               <h3> Status </h3>
               <div class="alert alert-warning"> Pending</div>
           </div>

           <div ng-show="app.status == 'Rejected'">
               <h3> Status </h3>
               <div class="btn btn-rejected"> Rejected</div>
           </div>

       </li>
    </ul>



</div>