
<!--Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="">
                Widget List
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid my-header">
    <div class="my-widget" ng-repeat="widget in model.widgets">
        <div class="my-widget-toolbar">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" ng-switch="widget.size">
                <ng-include src="'widget/views/widget-heading.view.client.html'" />
            </div>

            <div ng-switch-when="HTML" ng-bind-html="model.trustHtml(widget.text)">

            </div>

            <div ng-switch-when="YOUTUBE">
                <ng-include src="'widget/views/widget-youtube.view.client.html'" />

            </div>


            <div ng-switch-when="IMAGE">
                <ng-include src="'widget/views/widget-image.view.client.html'" />
            </div>

        </div>

    </div>

</div>



<!-- Footer -->
<ng-include src="'user/views/footer.view.client.html'"></ng-include>
