<!DOCTYPE html>


<!--Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="" ng-click="model.updateevent()" class="navbar-link">
          <span class="glyphicon glyphicon-ok pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid my-header">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchPhoto(searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 " ng-repeat="photo in model.photos.photo">
            <img ng-click="model.selectPhoto(photo)" class="img-thumbnail" style="width: 150px"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>
</div>



<!-- Footer -->
<ng-include src="'user/views/footer.view.client.html'"></ng-include>
