<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.device, initial-scale=1">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </link>
</head>
<body>
<!--Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid my-header">
    <div class="my-widget" ng-repeat="widget in model.widgets">
        <div class="my-widget-toolbar">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" ng-switch="widget.size">
                <ng-include src="'widget-heading.view.client.html'" />
            </div>

            <div ng-switch-when="HTML" ng-bind-html="model.trustHtml(widget.text)">

            </div>

            <div ng-switch-when="YOUTUBE">
                <ng-include src="'widget-youtube.view.client.html'" />

            </div>


            <div ng-switch-when="IMAGE">
                <ng-include src="'widget-image.view.client.html'" />
            </div>

        </div>


      <!--  <h1>{{widget.widgetType}}</h1>  -->

    </div>
    <!--
    <div class="my-widget">
        <div class="my-widget-toolbar">
            <a href="widget-heading.html"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3> Let's Talk About Tonight's Long-Awaited Return of Game of Thrones </h3>
    </div>

    <div class="my-widget">
        <div class="my-widget-toolbar">
            <a href="widget-image.html"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img src = "https://i.kinja-img.com/gawker-media/image/upload/s--0r0D0TxR--/c_scale,fl_progressive,q_80,w_800/xt3ohlhwzgllzd964yux.jpg"/>
    </div>

    <div class="my-widget">
        <div class="my-widget-toolbar">
            <a href="widget-heading.html"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>At least 80 people died in the <a href="http://gizmodo.com/how-rich-neighbors-may-have-factored-into-londons-deadl-1796103077" rel="nofollow">catastrophic fire</a> at Grenfell Tower in June. There were many questions after the blaze was extinguished, and it was discovered that among <a href="https://www.nytimes.com/2017/06/24/world/europe/grenfell-tower-london-fire.html?_r=0" target="_blank" rel="noopener">numerous safety hazards</a>, a particularly combustible form of cladding was used on the facade of the building in order to cut costs. Panicked landlords…<span class="read-more-placeholder"></span></p>
    </div>

    <div class="my-widget">
        <div class="my-widget-toolbar">
            <a href="widget-youtube.html"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-cSFPIwMEq4" frameborder="0" allowfullscreen></iframe>    </div>
    <div class="my-widget">
        <div class="my-widget-toolbar">
            <a href="widget-heading.html"> <span class="glyphicon glyphicon-cog"></span> </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>In Wake of Grenfell Tower, Government Warns Removing Dangerous Cladding Is Just Making Things Worse</h3>
    </div>
-->

</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom greybar my-header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

</body>
</html>