<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width.device, initial-scale=1">
    <title>Choose Widget</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </link>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="#">
                Choose Widget
            </a>

        </div>
    </div>
</nav>

<!-- Body -->
<div class="container-fluid my-header">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="" ng-click="model.newHeading()">Header</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">Label</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">HTML</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">Text Input</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">Link</a>
        </li>

        <li class="list-group-item">
            <a href="">Button</a>
        </li>

        <li class="list-group-item">
            <a href="" ng-click="model.newImage()">Image</a>
        </li>

        <li class="list-group-item">
            <a href="" ng-click="model.newYoutube()">Youtube</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">Data Table</a>
        </li>

        <li class="list-group-item">
            <a href="widget-heading.html">Repeater</a>
        </li>

    </ul>


</div>


<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom greybar my-header">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-right">
                <a href="user/views/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


</body>
</html>