<!DOCTYPE html>


<!--Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid my-container-header">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left pull-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand m" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="" ng-click="model.updateevent()" class="navbar-link">
          <span class="glyphicon glyphicon-ok pull-right">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid my-header">

    <form>
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               class="form-control"
               id="text"/>

        <label for="rows">Rows</label>
        <input ng-model="model.widget.rows"
               class="form-control"
               type="number"
               id="rows"/>

        <label for="placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder"
               class="form-control"
               id="placeholder"/>

        <div class="form-group">
            <label for="formatted">Formatted</label>
            <input ng-model="model.widget.formatted"
                   type="checkbox"
                   id="formatted"
                   placeholder="Formatted">
        </div>


        <a ng-click="model.deleteevent()"
           class="btn btn-block btn-danger">
            Delete
        </a>



    </form>






</div>





<!-- Footer -->
<ng-include src="'user/views/footer.view.client.html'"></ng-include>
